<script setup lang="ts">
const layout = 'profiles'
</script>

<template>
  <div>
    <DownloadApp />
    <VitePwaManifest />
    <NuxtLayout :name="layout">
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>
