<template>
  <nav class="p-10 flex justify-between items-center shadow-lg bg-[#FFF6F6]">
    <nuxt-img src="/assets/icons/LogoThePita.svg" class="w-44" alt="The Pita" />

    <div class="gap-6 lg:gap-10 2xl:gap-16 items-center text-lg text-dark-grayish-blue font-quicksand md:flex hidden">
      <a class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#F875AA] duration-300" href="#">About</a>
      <a class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#F875AA] duration-300" href="#">Services</a>
      <a class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#F875AA] duration-300" href="#">Projects</a>
      <button class="font-quicksand py-3 bg-[#AEDEFC] text-black px-8 rounded-full uppercase transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-[#F875AA] hover:text-white">
        Contact
      </button>
    </div>
    <div class="block md:hidden cursor-pointer text-white">
      <!-- Open icon -->
      <svg
        v-if="!isNavigationOpen"
        xmlns="http://www.w3.org/2000/svg"
        class="w-10 h-10 fill-indigo-500 cursor-pointer"
        viewBox="0 0 16 16"
        @click="toggleNavigation()"
      >
        <path
          fill-rule="evenodd"
          d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"
        />
      </svg>

      <!-- Close icon -->
      <svg
        v-else-if="isNavigationOpen"
        xmlns="http://www.w3.org/2000/svg"
        class="w-10 h-10 fill-indigo-500"
        viewBox="0 0 16 16"
        @click="toggleNavigation()"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
        />
      </svg>
    </div>
    <div
      class="absolute bg-white w-[87%] sm:w-[90%] flex flex-col top-36 left-6 mx-auto md:hidden rounded-lg z-10 transition duration-500"
      :class="{
        '-translate-y-[500px]': !isNavigationOpen,
        'translate-y-[10px]': isNavigationOpen,
      }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-12 h-12 absolute -top-5 -rotate-90 -right-[3px] fill-indigo-500"
        viewBox="0 0 16 16"
      >
        <!-- Add the path for the rotating arrow here -->
      </svg>
      <div class="flex flex-col items-center gap-4 py-16 text-xl shadow-lg bg-[#FFF6F6]">
        <a href="#" class="mb-4 text-dark-grayish-blue transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#F875AA] duration-300">About</a>
        <a href="#" class="mb-4 text-dark-grayish-blue transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#F875AA] duration-300">Services</a>
        <a href="#" class="mb-6 text-dark-grayish-blue transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:text-[#F875AA] duration-300">Projects</a>
        <button class="font-quicksand py-3 bg-[#AEDEFC] text-black px-8 rounded-full uppercase transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-[#F875AA] hover:text-white">
          Contact
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data () {
    return {
      isNavigationOpen: false
    }
  },
  methods: {
    toggleNavigation () {
      this.isNavigationOpen = !this.isNavigationOpen
    }
  }
}
</script>
