<script setup lang="ts">
import { ref, onMounted } from 'vue'

const deferredPrompt = ref<Event | null>(null)
const showInstallButton = ref<boolean>(true) // Initialize with `false`

onMounted(() => {
  window.addEventListener('beforeinstallprompt', (e) => {
    e.preventDefault()
    // Stash the event so it can be triggered later.
    deferredPrompt.value = e
    // Set showInstallButton to true when beforeinstallprompt is triggered
    showInstallButton.value = true
  })

  window.addEventListener('appinstalled', () => {
    deferredPrompt.value = null
    // Set showInstallButton to false when the app is installed
    showInstallButton.value = false
  })
})

function dismissApp () {
  deferredPrompt.value = null
  // Set showInstallButton to false when the user dismisses the app installation
  showInstallButton.value = false
}

function installPWA () {
  if (deferredPrompt.value) {
    // Import the BeforeInstallPromptEvent type
    type BeforeInstallPromptEvent = Event & { prompt: () => void };

    // Explicitly cast to BeforeInstallPromptEvent
    const beforeInstallPromptEvent = deferredPrompt.value as BeforeInstallPromptEvent

    // Check if the prompt method exists before calling it
    if (beforeInstallPromptEvent.prompt) {
      beforeInstallPromptEvent.prompt()
    }
  }
}

// Log the value of showInstallButton
console.log('showInstallButton:', showInstallButton.value)
</script>

<template>
  <div v-if="showInstallButton" id="download-app" class="p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
    <div class="flex space-x-2 items-center">
      <i class="fa fa-info-circle" />
      <h3 class="text-lg font-medium">
        Please Download Apps
      </h3>
      <h1>Please remain calm.</h1>
    </div>
    <div class="mt-2 mb-4 text-sm">
      More info about this info alert goes here. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
    </div>
    <div class="flex">
      <button
        type="button"
        class="text-white bg-blue-800 hover-bg-blue-900 focus-ring-4 focus-outline-none focus-ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex flex space-x-2 items-center dark-bg-blue-600 dark-hover-bg-blue-700 dark-focus-ring-blue-800"
        @click="installPWA"
      >
        <i class="fa fa-download" />
        <span>Download</span>
      </button>
      <button
        type="button"
        class="text-blue-800 bg-transparent border border-blue-800 hover-bg-blue-900 hover-text-white focus-ring-4 focus-outline-none focus-ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark-hover-bg-blue-600 dark-border-blue-600 dark-text-blue-400 dark-hover-text-white dark-focus-ring-blue-800"
        data-dismiss-target="#"
        aria-label="Close"
        @click="dismissApp"
      >
        Dismiss
      </button>
    </div>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <i class="fa fa-window-close-o" />
    </span>
  </div>
</template>
